@use '../../src/sass/partials/abstracts-blocks' as *;

.home-hero-section {
	color: $pale;
	display: grid;
	position: relative;
	overflow: hidden;

	.bg {
		inline-size: 100%;
		block-size: 100%;
		position: absolute;
		inset-inline-start: 0;
		inset-block-start: 0;
		z-index: 0;
	}

	.bg-image {
		inline-size: 100%;
		block-size: 100%;
		position: absolute;
		inset-inline-start: 0;
		inset-block-start: 0;
		object-fit: cover;
	}

	.bg-overlay {
		background-color: rgba(#231e1c, 0.32);
		inline-size: 100%;
		block-size: 100%;
		position: absolute;
		inset-inline-start: 0;
		inset-block-start: 0;
	}

	.container {
		display: grid;
		position: relative;
		z-index: 1;
	}

	.inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: fluid(40, 80);
		min-block-size: inherit;
		padding-block: fluid(90, 140) fluid(24, 48);
	}

	.content {
		max-inline-size: rem-calc(540);
	}

	.text-label {
		background-color: rgba($pale, 0.08);
		color: $pale;
		margin-block-end: fluid(16, 24);
	}

	.heading {
		color: $pale;
		font-size: fluid(32, 56);
		font-style: italic;
		letter-spacing: -0.02em;
		margin-block-end: fluid(12, 16);
	}

	.description {
		color: rgba($pale, 0.6);
		font-family: $sans-serif-font-family;
		font-size: fluid(14, 16);
		line-height: 1.4;
		max-inline-size: rem-calc(448);
		margin-block-end: fluid(24, 32);
	}

	.product {
		background-color: $pale;
		display: flex;
		align-items: stretch;
		align-self: flex-end;
		inline-size: min(100%, #{rem-calc(528)});
		border-radius: fluid(6, 12);
		box-shadow: 0 rem-calc(4) rem-calc(24) rem-calc(30) rgb(0 0 0 / 10%);
		overflow: hidden;
	}

	.product-image {
		flex-shrink: 0;
		inline-size: fluid(120, 188);
	}

	.product-body {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
		gap: fluid(16, 24);
		padding: fluid(12, 16);
	}

	.product-header {
		display: flex;
		flex-direction: column;
	}

	.product-eyebrow {
		color: $deep;
		font-family: $serif-font-family;
		font-size: fluid(14, 16);
		line-height: 1.4;
	}

	.product-title {
		color: $deep;
		font-family: $serif-font-family;
		font-size: fluid(14, 16);
		line-height: 1.4;
		margin-block-end: fluid(4, 8);
	}

	.product-description {
		color: rgb(0 0 0 / 40%);
		font-family: $sans-serif-font-family;
		font-size: fluid(12, 14);
		line-height: 1.4;
	}
}
