// optional, as per project
$pale: #fbf8f3;
$mist: #f7f1e8;
$sand: #eae2d7;
$muted: #8c807d;
$deep: #362925;
$magento: #671e3a;

// required, as per project
$primary-color: #1f2261;
$secondary-color: #fdba00;
$success-color: #33b469;
$info-color: #ebbc2e;
$warning-color: #ebbc2e;

// required, typography
$body-color: #080c11;
$heading-color: inherit;
$link-color: $body-color;
$link-hover-color: inherit;
