@use '../abstracts' as *;

.text-label {
	background-color: rgba($magento, 0.1);
	color: $magento;
	font-family: $sans-serif-font-family;
	font-size: rem-calc(14);
	line-height: 1.4;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-block: rem-calc(4);
	padding-inline: rem-calc(8);
	border-radius: rem-calc(4);
}

.visual-editor-section {
	font-family: $sans-serif-font-family;
	font-size: rem-calc(16);
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;

	&.layout-small {
		.inner-container {
			max-inline-size: rem-calc(600);
			margin: 0 auto;
		}
	}

	&.layout-medium {
		.inner-container {
			max-inline-size: rem-calc(800);
			margin: 0 auto;
		}
	}

	&.layout-large {
		.inner-container {
			max-inline-size: rem-calc(1000);
			margin: 0 auto;
		}
	}

	a:not([class]) {
		color: $primary-color;
	}

	p {
		margin-block-end: rem-calc(16);

		&:last-child {
			margin-block-end: 0;
		}
	}

	a {
		text-decoration: underline;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $sans-serif-font-family;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: -0.03em;
		margin-block-end: rem-calc(12);

		&:not(:first-child) {
			margin-block-start: fluid(24, 32);
		}
	}

	ul,
	ol {
		padding-inline-start: rem-calc(20);
		margin-block-end: rem-calc(16);
	}

	li {
		margin-block-end: rem-calc(8);
	}
}

.img-link {
	overflow: hidden;

	img {
		transition: 200ms ease-out;
	}

	&:hover,
	&:focus-visible {
		img {
			transform: scale(1.2);
		}
	}
}

.text-link {
	--line-color: #{$magento};

	&:hover,
	&:focus-visible {
		text-decoration: underline var(--line-color) 1px;
		text-underline-offset: 2px;
	}
}

/* ----------  Required  ---------- */
.list-unstyled {
	@include list-unstyled;
}

svg {
	flex-shrink: 0;
	inline-size: 1em;
	block-size: 1em;
}
