@use '../config/blocks' as *;
@use 'rem' as *;

%btn {
	background: none;
	font-family: $sans-serif-font-family;
	font-size: fluid(14, 16, 'sm');
	font-weight: 500;
	line-height: 1.3;
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: fit-content;
	user-select: none;
	border: 0;
	padding: 0;

	span {
		text-box: trim-both cap alphabetic;
	}
}

@mixin btn-input-clone($bg-color) {
	background-color: $bg-color;
	font-size: 1rem;
	line-height: $input-line-height;
	text-transform: uppercase;
	padding-block-start: $input-padding-y;
	padding-block-end: $input-padding-y;
	border: rem-calc(1) solid $bg-color;

	@media (width >=$md) {
		padding-block-start: $input-padding-y-lg;
		padding-block-end: $input-padding-y-lg;
	}
}

@mixin btn-reset {
	background: transparent;
	color: $link-color;
	display: inline-block;
	padding: 0;
	margin: 0;
	border: 0;
	inline-size: unset;
	cursor: pointer;
}

@mixin btn-icon {
	flex-shrink: 0;

	.btn-label {
		flex-grow: 1;
	}

	&:hover,
	&:focus-visible {
		svg {
			animation: btn-rarr 0.4s ease-in-out;
		}
	}
}

@mixin btn-icon-dark {
	@include btn-icon;
	span {
		background-color: $deep;
		color: $pale;
	}

	&:hover,
	&:focus-visible {
		color: $pale;
	}
}

@mixin btn-icon-light {
	@include btn-icon;
	span {
		background: #fbf8f3;
		color: #362925;
	}

	&:hover,
	&:focus-visible {
		color: #362925;
	}
}

@mixin btn-dark {
	background-color: $magento;
	color: #fff;

	&:hover,
	&:focus-visible {
		color: #fff;
	}
}

@mixin btn-light {
	background: #fbf8f3;
	color: #362925;

	&:hover,
	&:focus-visible {
		color: #362925;
	}
}

@mixin btn-dark-outline {
	border: 1px solid $deep;
	color: $deep;

	&:hover,
	&:focus-visible {
		background-color: $deep;
		border-color: $deep;
		color: $pale;
	}
}

@mixin btn-md {
	border-radius: rem-calc(6);

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		min-block-size: fluid(36, 40, 'sm');
		border-radius: rem-calc(6);
	}

	span.btn-label {
		padding-inline: fluid(12, 16, 'sm');
	}

	span.svg-block {
		inline-size: fluid(36, 40, 'sm');
		overflow: hidden;
	}

	svg {
		font-size: fluid(20, 24, 'sm');
	}
}

@mixin btn-cart {
	color: $deep;
	font-family: $sans-serif-font-family;
	font-size: fluid(14, 16);
	font-weight: 500;
	line-height: rem-calc(24);
	text-decoration: none;
	display: inline-flex;
	flex-shrink: 0;
	align-items: center;
	gap: rem-calc(8);
	min-block-size: rem-calc(42);
	padding-block: rem-calc(8);
	padding-inline: rem-calc(16);
	margin-inline-start: auto;
	border: 1px solid currentColor;
	border-radius: rem-calc(6);
	transition:
		background-color 0.2s ease-out,
		border-color 0.2s ease-out;

	&:hover,
	&:focus-visible {
		background-color: $deep;
		color: $pale;

		svg {
			animation: btn-barr 0.4s ease-in-out;
		}
	}

	.btn-label {
		display: inline-block;
	}

	.icon {
		display: inline-flex;
		align-items: center;
		align-self: stretch;
		justify-content: center;
		padding-block: rem-calc(8);
		padding-inline: rem-calc(8);
		margin-block: rem-calc(-8);
		margin-inline: rem-calc(8) rem-calc(-16);
		border-inline-start: 1px solid currentColor;

		svg {
			inline-size: fluid(20, 24);
			block-size: fluid(20, 24);
			transform-origin: center;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		&:hover,
		&:focus-visible {
			svg {
				animation: none;
			}
		}
	}
}

@mixin btn-link-dark {
	@include btn-link;
	color: $deep;
}

@mixin btn-link {
	font-family: $sans-serif-font-family;
	font-size: fluid(12, 14);
	font-weight: 500;
	line-height: rem-calc(20);
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	gap: rem-calc(8);

	svg {
		font-size: fluid(14, 16);
	}

	&:hover,
	&:focus-visible {
		color: $deep;

		svg {
			animation: btn-rarr 0.4s ease-in-out;
		}
	}
}

@mixin btn-link-light {
	@include btn-link;
	color: $mist;
}

@mixin btn-link-dark {
	@include btn-link;
	color: $deep;
}
